@charset "utf-8";

img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px; }
@charset "utf-8";

img.wp-smiley, img.emoji { display: inline !important; border-width: medium !important; border-style: none !important; border-color: currentcolor !important; border-image: none !important; box-shadow: none !important; height: 1em !important; width: 1em !important; margin: 0px 0.07em !important; vertical-align: -0.1em !important; background: none !important; padding: 0px !important; }
@charset "utf-8";

.wp-block-button__link { color: rgb(255, 255, 255); background-color: rgb(50, 55, 60); border-radius: 9999px; box-shadow: none; text-decoration: none; padding: calc(0.667em + 2px) calc(1.333em + 2px); font-size: 1.125em; }

.wp-block-file__button { background: rgb(50, 55, 60); color: rgb(255, 255, 255); text-decoration: none; }
@charset "utf-8";

.woocommerce form .form-row .required { visibility: visible; }
@charset "utf-8";

#qodef-page-outer { margin-top: -84px; }

#qodef-page-footer-top-area { background-color: rgb(0, 66, 122); }

#qodef-page-footer-top-area-inner { padding-bottom: 10px; padding-left: 0px !important; padding-right: 0px !important; }

#qodef-page-footer-bottom-area { background-color: rgb(0, 66, 122); }

#qodef-page-footer-bottom-area-inner { padding-top: 0px; padding-bottom: 90px; }

#qodef-page-footer-copyright-area { background-color: rgb(0, 66, 122); }

#qodef-page-inner { padding: 0px; }

:root { --qode-main-color: rgb(1,71,123); }

.qodef-header-sticky .qodef-header-sticky-inner { padding-left: 42px; padding-right: 42px; }

#qodef-top-area { background-color: rgba(0, 0, 0, 0.2); }

#qodef-top-area-inner { height: 40px; padding-left: 42px; padding-right: 42px; }

#qodef-page-header .qodef-header-logo-link { height: 300px; }

#qodef-page-mobile-header .qodef-mobile-header-logo-link { height: 50px; }

.qodef-header-navigation > ul > li > a { font-family: Montserrat; font-size: 14px; font-weight: 600; text-transform: uppercase; }

.qodef-header-navigation > ul > li.qodef-menu-item--narrow .qodef-drop-down-second ul li a { font-size: 14px; font-weight: 400; text-transform: none; }

.qodef-header-navigation > ul > li.qodef-menu-item--wide .qodef-drop-down-second-inner > ul > li > a { font-family: Montserrat; }

.qodef-page-title { background-color: rgb(32, 40, 45); }

.qodef-page-title .qodef-m-content { padding-top: 84px; }

.qodef-page-title .qodef-m-title { color: rgb(255, 255, 255); }

body { font-family: Montserrat; font-size: 16px; line-height: 25px; font-weight: 400; }

h1, .qodef-h1 { font-family: Montserrat; }

h2, .qodef-h2 { font-family: Montserrat; }

h3, .qodef-h3 { font-family: Montserrat; }

h4, .qodef-h4 { font-family: Montserrat; }

h5, .qodef-h5 { font-family: Montserrat; font-size: 20px; font-weight: 600; }

h6, .qodef-h6 { font-family: Montserrat; }

.qodef-header--standard #qodef-page-header { background-color: rgba(99, 99, 99, 0); }

.qodef-header--standard #qodef-page-header-inner { padding-left: 42px; padding-right: 42px; }

.qodef-header--standard #qodef-page-header-inner::after { border-bottom-color: rgba(255, 255, 255, 0.22); border-bottom-width: 1px; }

.qodef-header--standard #qodef-page-header-inner { margin-top: 10px; height: calc(100% - 10px); }
@charset "utf-8";

.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * { background-image: none !important; }

@media screen and (max-height: 1024px) {
  .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * { background-image: none !important; }
}

@media screen and (max-height: 640px) {
  .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * { background-image: none !important; }
}
@charset "utf-8";

.qodef-header--standard #qodef-page-header-inner::after, #qodef-page-header-inner::after { display: none !important; }

.qodef-tabbed-info .ui-tabs-anchor { font-family: Georgia, "serif"; color: rgb(32, 40, 45); font-size: 20px; line-height: 1.5em; font-weight: 500; }

.qodef-tabbed-info.qodef-layout--standard .qodef-m-tagline { font-size: 70px; }

.qodef-button.qodef-layout--filled.qodef-html--link { color: rgb(255, 255, 255); background-color: rgb(0, 66, 122); border: 1px solid transparent; --qode-hover-move-x: 110%; --qode-hover-move-y: 100%; border-radius: 1px; }

.qodef-tabbed-info.qodef-layout--standard .qodef-m-content .qodef-m-content-left { padding: 0px 10% 0px 0px; width: 50%; }

.elementor-3915 .elementor-element.elementor-element-7977d27 { margin-top: 0px; margin-bottom: 0px; padding: 68px 80px 43px; }

.qodef-tabbed-info .ui-tabs-nav { display: flex; justify-content: space-between; margin: 0px 0px 50px; padding: 0px; list-style: none; position: relative; }

.qodef-tabbed-info.qodef-layout--standard .qodef-m-tagline { display: block; margin: 0px 0px 7px; font-family: Georgia, "serif"; font-size: 110px; line-height: 1em; font-weight: 400; color: rgb(188, 195, 197); }

.qodef-tabbed-info.qodef-layout--standard .qodef-m-tagline { display: block; margin: 0px 0px 7px; font-family: Georgia, "serif"; font-size: 60px; line-height: 1em; font-weight: 400; color: rgb(188, 195, 197); }

.qodef-button.qodef-layout--outlined { color: var(--qode-main-color); background-color: transparent; border: 1px solid var(--qode-main-color); border-radius: 0px; --qode-hover-move-x: 110%; --qode-hover-move-y: 100%; }

#qodef-side-area .widget:not(.widget_leroux_core_title_widget) { margin: 0px 0px 4px; color: rgb(255, 255, 255); display: none; }

.qodef-theme-button, button[type="submit"], input[type="submit"] { position: relative; display: inline-flex; align-items: center; vertical-align: middle; width: auto; margin: 0px; font-family: "Dm Sans", sans-serif; font-size: 15px; line-height: 2em; font-weight: 400; text-decoration: none; outline: 0px; transition: color 0.27s ease-out, background-color 0.27s ease-out, border-color 0.27s ease-out; padding: 6px 33px 7px; color: rgb(255, 255, 255); background-color: rgb(51, 104, 149); border: 1px solid transparent; border-radius: 0px; --qode-hover-move-x: 110%; --qode-hover-move-y: 100%; cursor: pointer; }

#qodef-content-bottom { background-color: rgb(25, 39, 43); display: none; }

.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-instagram { font-size: 25px; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255) !important; }

.widget ol:not(.qodef-shortcode-list):not(.select2-selection__rendered), .widget ul:not(.qodef-shortcode-list):not(.select2-selection__rendered) { font-size: 15px; }

#qodef-page-footer-copyright-area .widget a { color: rgb(0, 66, 122); }

.qodef-m-title { margin-top: 2px; }

#qodef-page-footer-top-area .widget ul:not(.qodef-shortcode-list):not(.select2-selection__rendered) li { margin: 0px 0px 1px; }

#qodef-page-footer-top-area .widget a { color: rgb(255, 255, 255); font-family: Montserrat; }

#qodef-page-footer-top-area .widget:not(.widget_leroux_core_title_widget) { margin: 0px 0px 20px; font-size: 14px; color: rgb(255, 255, 255); font-family: Montserrat; }

.qodef-content-grid { max-width: 1180px; display: flex; margin-right: auto; margin-left: auto; position: relative; }

.qodef-header-navigation > ul > li { height: 100%; margin: 0px 8px; }

#qodef-page-footer-top-area .widget p { margin: 0px; font-size: 14px; }

.wp-block-image img { box-sizing: border-box; height: 80px; width: 150px; vertical-align: bottom; }

#qodef-page-footer-copyright-area .widget a { color: rgb(255, 255, 255); }

.widget.widget_block .wp-block-social-link { font-size: 30px; margin: 4px 8px 4px 0px !important; }

#qodef-page-footer-copyright-area .widget:not(.widget_leroux_core_title_widget) { margin: 0px 0px 20px; color: rgb(255, 255, 255); font-size: 14px; }

#qodef-page-footer-top-area-inner { padding-top: 50px; padding-bottom: 14px; border-top: 0px solid rgb(34, 48, 53); }

.qodef-button.qodef-html--link { padding: 3px 15px; }

.qodef-e-info > * { display: none; }

.qodef-shortcode h1 a, .qodef-shortcode h2 a, .qodef-shortcode h3 a, .qodef-shortcode h4 a, .qodef-shortcode h5 a, .qodef-shortcode h6 a { font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; letter-spacing: inherit; text-transform: inherit; color: rgb(0, 0, 0); }

.qodef-blog.qodef-item-layout--compact.qodef-skin--light .qodef-blog-item .qodef-button.qodef-layout--filled.qodef-html--link { background-color: rgb(1, 59, 110); backdrop-filter: blur(4px) brightness(100%); }

li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-21026 a { color: rgb(255, 255, 255); background-color: rgb(0, 66, 122); border: 1px solid transparent; --qode-hover-move-x: 110%; --qode-hover-move-y: 100%; border-radius: 1px; padding: 3px 15px; max-height: 37px; text-transform: capitalize; }

li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-21026 { height: 100%; margin: 0px 8px; display: inline-flex; align-items: center; vertical-align: middle; }

li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-21031 { height: 100%; margin: 0px 8px; display: inline-flex; align-items: center; vertical-align: middle; }

li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-21031 a { color: rgb(255, 255, 255); background-color: rgb(0, 66, 122); border: 1px solid transparent; --qode-hover-move-x: 110%; --qode-hover-move-y: 100%; border-radius: 1px; padding: 3px 15px; max-height: 37px; text-transform: capitalize; }

.news-to-Investors-box { height: 90px !important; }

.wpml-credit { display: none; }

.qodef-blog.qodef-item-layout--compact .qodef-blog-item .qodef-e-inner .entry-date.qodef-list-date { position: absolute; top: 0px; left: 0px; color: rgb(255, 255, 255); display: flex; flex-direction: row; row-gap: 2px; justify-content: center; align-items: center; padding: 5px 10px; font-family: "Dm Sans", sans-serif; z-index: 99; background-color: rgba(255, 255, 255, 0.2); backdrop-filter: blur(4px) brightness(100%); }

.qodef-blog.qodef-item-layout--compact .qodef-blog-item .qodef-e-inner .entry-date.qodef-list-date .qodef-day { font-size: 11px; }

a.entry-date.qodef-list-date.published.updated { flex-direction: row !important; }

.qodef-month { font-size: 11px !important; padding-left: 5px !important; padding-right: 5px !important; }

.qodef-year { font-size: 11px !important; }

.qodef-blog.qodef--list .qodef-blog-item .qodef-e-inner .entry-date.qodef-list-date .qodef-day { font-size: 11px !important; }

.category-news .qodef-blog { display: flex; flex-wrap: wrap; justify-content: space-between; }

.category-news .qodef-blog-item { flex: 0 0 49%; }

.qodef-h2, h2 { font-family: "Dm Sans", sans-serif; color: rgb(32, 40, 45); font-size: 25px; line-height: 1.2381em; font-weight: 400; margin: 25px 0px; overflow-wrap: break-word; }

.qodef-blog .qodef-e-title { margin: 0px; font-size: 20px !important; }

li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-21026 a { color: rgb(255, 255, 255); background-color: rgb(0, 66, 122); border: 1px solid transparent; --qode-hover-move-x: 110%; --qode-hover-move-y: 100%; border-radius: 1px; padding: 3px 5px; max-height: 37px; text-transform: capitalize; }

#qodef-page-header .qodef-widget-holder { display: flex; align-items: center; height: 100%; margin-left: 8px; }
@charset "utf-8";

.wp-block-image > a, .wp-block-image > figure > a { display: inline-block; }

.wp-block-image img { box-sizing: border-box; height: auto; max-width: 100%; vertical-align: bottom; }

@media not (prefers-reduced-motion) {
  .wp-block-image img.hide { visibility: hidden; }
  .wp-block-image img.show { animation: 0.4s ease 0s 1 normal none running show-content-image; }
}

.wp-block-image[style*="border-radius"] img, .wp-block-image[style*="border-radius"] > a { border-radius: inherit; }

.wp-block-image.has-custom-border img { box-sizing: border-box; }

.wp-block-image.aligncenter { text-align: center; }

.wp-block-image.alignfull > a, .wp-block-image.alignwide > a { width: 100%; }

.wp-block-image.alignfull img, .wp-block-image.alignwide img { height: auto; width: 100%; }

.wp-block-image .aligncenter, .wp-block-image .alignleft, .wp-block-image .alignright, .wp-block-image.aligncenter, .wp-block-image.alignleft, .wp-block-image.alignright { display: table; }

.wp-block-image .aligncenter > figcaption, .wp-block-image .alignleft > figcaption, .wp-block-image .alignright > figcaption, .wp-block-image.aligncenter > figcaption, .wp-block-image.alignleft > figcaption, .wp-block-image.alignright > figcaption { caption-side: bottom; display: table-caption; }

.wp-block-image .alignleft { float: left; margin: 0.5em 1em 0.5em 0px; }

.wp-block-image .alignright { float: right; margin: 0.5em 0px 0.5em 1em; }

.wp-block-image .aligncenter { margin-left: auto; margin-right: auto; }

.wp-block-image :where(figcaption) { margin-bottom: 1em; margin-top: 0.5em; }

.wp-block-image.is-style-circle-mask img { border-radius: 9999px; }

@supports ((-webkit-mask-image:none) or (mask-image:none)) or (-webkit-mask-image:none) {
  .wp-block-image.is-style-circle-mask img { border-radius: 0px; mask-image: url("data:image/svg+xml;utf8,<svg viewBox=\"0 0 100 100\" xmlns=\"http://www.w3.org/2000/svg\"><circle cx=\"50\" cy=\"50\" r=\"50\"/></svg>"); mask-mode: alpha; mask-position: center center; mask-repeat: no-repeat; mask-size: contain; }
}

:root :where(.wp-block-image.is-style-rounded img, .wp-block-image .is-style-rounded img) { border-radius: 9999px; }

.wp-block-image figure { margin: 0px; }

.wp-lightbox-container { display: flex; flex-direction: column; position: relative; }

.wp-lightbox-container img { cursor: zoom-in; }

.wp-lightbox-container img:hover + button { opacity: 1; }

.wp-lightbox-container button { align-items: center; backdrop-filter: blur(16px) saturate(180%); background-color: rgba(90, 90, 90, 0.25); border-width: medium; border-style: none; border-color: currentcolor; border-image: none; border-radius: 4px; cursor: zoom-in; display: flex; height: 20px; justify-content: center; left: 16px; opacity: 0; padding: 0px; position: absolute; text-align: center; top: 16px; width: 20px; z-index: 100; }

@media not (prefers-reduced-motion) {
  .wp-lightbox-container button { transition: opacity 0.2s; }
}

.wp-lightbox-container button:focus-visible { outline: -webkit-focus-ring-color auto 3px; outline-offset: 3px; }

.wp-lightbox-container button:hover { cursor: pointer; opacity: 1; }

.wp-lightbox-container button:focus { opacity: 1; }

.wp-lightbox-container button:focus, .wp-lightbox-container button:hover, .wp-lightbox-container button:not(:hover):not(:active):not(.has-background) { background-color: rgba(90, 90, 90, 0.25); border-width: medium; border-style: none; border-color: currentcolor; border-image: none; }

.wp-lightbox-overlay { box-sizing: border-box; cursor: zoom-out; height: 100vh; overflow: hidden; position: fixed; right: 0px; top: 0px; visibility: hidden; width: 100%; z-index: 100000; }

.wp-lightbox-overlay .wp-lightbox-close-button { align-items: center; cursor: pointer; display: flex; font-family: inherit; gap: 8px; justify-content: center; left: calc(env(safe-area-inset-left) + 16px); line-height: 1; min-height: 40px; min-width: 40px; padding: 0px 4px; position: absolute; top: calc(env(safe-area-inset-top) + 16px); z-index: 5000000; }

.wp-lightbox-overlay .wp-lightbox-close-button:focus, .wp-lightbox-overlay .wp-lightbox-close-button:hover, .wp-lightbox-overlay .wp-lightbox-close-button:not(:hover):not(:active):not(.has-background) { background: none; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; }

.wp-lightbox-overlay .wp-lightbox-close-button:has(.wp-lightbox-close-text:not([hidden])) .wp-lightbox-close-icon svg { height: 1em; width: 1em; }

.wp-lightbox-overlay .wp-lightbox-close-icon svg { display: block; }

.wp-lightbox-overlay .wp-lightbox-navigation-button-next, .wp-lightbox-overlay .wp-lightbox-navigation-button-prev { align-items: center; bottom: 16px; cursor: pointer; display: flex; font-family: inherit; gap: 4px; justify-content: center; line-height: 1; min-height: 40px; min-width: 40px; padding: 0px 8px; position: absolute; z-index: 2000002; }

.wp-lightbox-overlay .wp-lightbox-navigation-button-next[hidden], .wp-lightbox-overlay .wp-lightbox-navigation-button-prev[hidden] { display: none; }

@media (min-width: 960px) {
  .wp-lightbox-overlay .wp-lightbox-navigation-button-next, .wp-lightbox-overlay .wp-lightbox-navigation-button-prev { bottom: 50%; transform: translateY(-50%); }
}

.wp-lightbox-overlay .wp-lightbox-navigation-button-next:focus, .wp-lightbox-overlay .wp-lightbox-navigation-button-next:hover, .wp-lightbox-overlay .wp-lightbox-navigation-button-next:not(:hover):not(:active):not(.has-background), .wp-lightbox-overlay .wp-lightbox-navigation-button-prev:focus, .wp-lightbox-overlay .wp-lightbox-navigation-button-prev:hover, .wp-lightbox-overlay .wp-lightbox-navigation-button-prev:not(:hover):not(:active):not(.has-background) { background: none; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; padding: 0px 8px; }

.wp-lightbox-overlay .wp-lightbox-navigation-button-next:has(.wp-lightbox-navigation-text:not([hidden])) .wp-lightbox-navigation-icon svg, .wp-lightbox-overlay .wp-lightbox-navigation-button-prev:has(.wp-lightbox-navigation-text:not([hidden])) .wp-lightbox-navigation-icon svg { display: block; height: 1.5em; width: 1.5em; }

.wp-lightbox-overlay .wp-lightbox-navigation-button-prev { right: calc(env(safe-area-inset-right) + 16px); }

.wp-lightbox-overlay .wp-lightbox-navigation-button-next { left: calc(env(safe-area-inset-left) + 16px); }

.wp-lightbox-overlay .wp-lightbox-navigation-icon svg { vertical-align: middle; }

.wp-lightbox-overlay .lightbox-image-container { height: var(--wp--lightbox-container-height); overflow: hidden; position: absolute; right: 50%; top: 50%; transform: translate(50%, -50%); transform-origin: right top; width: var(--wp--lightbox-container-width); z-index: 2000001; }

.wp-lightbox-overlay .wp-block-image { align-items: center; box-sizing: border-box; display: flex; height: 100%; justify-content: center; margin: 0px; position: relative; transform-origin: 100% 0px; width: 100%; z-index: 3000000; }

.wp-lightbox-overlay .wp-block-image img { height: var(--wp--lightbox-image-height); min-height: var(--wp--lightbox-image-height); min-width: var(--wp--lightbox-image-width); width: var(--wp--lightbox-image-width); }

.wp-lightbox-overlay .wp-block-image figcaption { display: none; }

.wp-lightbox-overlay button { background: none; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; }

.wp-lightbox-overlay .scrim { background-color: rgb(255, 255, 255); height: 100%; opacity: 0.9; position: absolute; width: 100%; z-index: 2000000; }

.wp-lightbox-overlay.active { visibility: visible; }

@media not (prefers-reduced-motion) {
  .wp-lightbox-overlay.active { animation: 0.25s ease 0s 1 normal both running turn-on-visibility; }
  .wp-lightbox-overlay.active img { animation: 0.35s ease 0s 1 normal both running turn-on-visibility; }
  .wp-lightbox-overlay.show-closing-animation:not(.active) { animation: 0.35s ease 0s 1 normal both running turn-off-visibility; }
  .wp-lightbox-overlay.show-closing-animation:not(.active) img { animation: 0.25s ease 0s 1 normal both running turn-off-visibility; }
  .wp-lightbox-overlay.zoom.active { animation: auto ease 0s 1 normal none running none; opacity: 1; visibility: visible; }
  .wp-lightbox-overlay.zoom.active .lightbox-image-container { animation: 0.4s ease 0s 1 normal none running lightbox-zoom-in; }
  .wp-lightbox-overlay.zoom.active .lightbox-image-container img { animation: auto ease 0s 1 normal none running none; }
  .wp-lightbox-overlay.zoom.active .scrim { animation: 0.4s ease 0s 1 normal forwards running turn-on-visibility; }
  .wp-lightbox-overlay.zoom.show-closing-animation:not(.active) { animation: auto ease 0s 1 normal none running none; }
  .wp-lightbox-overlay.zoom.show-closing-animation:not(.active) .lightbox-image-container { animation: 0.4s ease 0s 1 normal none running lightbox-zoom-out; }
  .wp-lightbox-overlay.zoom.show-closing-animation:not(.active) .lightbox-image-container img { animation: auto ease 0s 1 normal none running none; }
  .wp-lightbox-overlay.zoom.show-closing-animation:not(.active) .scrim { animation: 0.4s ease 0s 1 normal forwards running turn-off-visibility; }
}

@keyframes show-content-image { 
  0% { visibility: hidden; }
  99% { visibility: hidden; }
  100% { visibility: visible; }
}

@keyframes turn-on-visibility { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes turn-off-visibility { 
  0% { opacity: 1; visibility: visible; }
  99% { opacity: 0; visibility: visible; }
  100% { opacity: 0; visibility: hidden; }
}

@keyframes lightbox-zoom-in { 
  0% { transform: translate(calc(((-100vw + var(--wp--lightbox-scrollbar-width))/2 + var(--wp--lightbox-initial-left-position))*-1),calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale)); }
  100% { transform: translate(50%, -50%) scale(1); }
}

@keyframes lightbox-zoom-out { 
  0% { transform: translate(50%, -50%) scale(1); visibility: visible; }
  99% { visibility: visible; }
  100% { transform: translate(calc(((-100vw + var(--wp--lightbox-scrollbar-width))/2 + var(--wp--lightbox-initial-left-position))*-1),calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale)); visibility: hidden; }
}
@charset "utf-8";

.is-small-text { font-size: 0.875em; }

.is-regular-text { font-size: 1em; }

.is-large-text { font-size: 2.25em; }

.is-larger-text { font-size: 3em; }

.has-drop-cap:not(:focus)::first-letter { float: right; font-size: 8.4em; font-style: normal; font-weight: 100; line-height: 0.68; margin: 0.05em 0px 0px 0.1em; text-transform: uppercase; }

body.rtl .has-drop-cap:not(:focus)::first-letter { float: none; margin-right: 0.1em; }

p.has-drop-cap.has-background { overflow: hidden; }

:root :where(p.has-background) { padding: 1.25em 2.375em; }

:where(p.has-text-color:not(.has-link-color)) a { color: inherit; }

p.has-text-align-left[style*="writing-mode:vertical-lr"], p.has-text-align-right[style*="writing-mode:vertical-rl"] { rotate: 180deg; }
@charset "utf-8";

.wp-block-social-links { background: none; box-sizing: border-box; margin-right: 0px; padding-left: 0px; padding-right: 0px; text-indent: 0px; }

.wp-block-social-links .wp-social-link a, .wp-block-social-links .wp-social-link a:hover { border-bottom: 0px; box-shadow: none; text-decoration: none; }

.wp-block-social-links .wp-social-link svg { height: 1em; width: 1em; }

.wp-block-social-links .wp-social-link span:not(.screen-reader-text) { font-size: 0.65em; margin-left: 0.5em; margin-right: 0.5em; }

.wp-block-social-links.has-small-icon-size { font-size: 16px; }

.wp-block-social-links, .wp-block-social-links.has-normal-icon-size { font-size: 24px; }

.wp-block-social-links.has-large-icon-size { font-size: 36px; }

.wp-block-social-links.has-huge-icon-size { font-size: 48px; }

.wp-block-social-links.aligncenter { display: flex; justify-content: center; }

.wp-block-social-links.alignright { justify-content: flex-end; }

.wp-block-social-link { border-radius: 9999px; display: block; }

@media not (prefers-reduced-motion) {
  .wp-block-social-link { transition: transform 0.1s; }
}

.wp-block-social-link { height: auto; }

.wp-block-social-link a { align-items: center; display: flex; line-height: 0; }

.wp-block-social-link:hover { transform: scale(1.1); }

.wp-block-social-links .wp-block-social-link.wp-social-link { display: inline-block; margin: 0px; padding: 0px; }

.wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor, .wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor svg, .wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor:active, .wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor:hover, .wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor:visited { fill: currentcolor; color: currentcolor; }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link { background-color: rgb(240, 240, 240); color: rgb(68, 68, 68); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-amazon { background-color: rgb(255, 153, 0); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-bandcamp { background-color: rgb(30, 160, 195); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-behance { background-color: rgb(7, 87, 254); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-bluesky { background-color: rgb(10, 122, 255); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-codepen { background-color: rgb(30, 31, 38); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-deviantart { background-color: rgb(2, 228, 155); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-discord { background-color: rgb(88, 101, 242); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-dribbble { background-color: rgb(233, 76, 137); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-dropbox { background-color: rgb(66, 128, 255); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-etsy { background-color: rgb(244, 88, 0); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-facebook { background-color: rgb(8, 102, 255); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-fivehundredpx { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-flickr { background-color: rgb(4, 97, 221); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-foursquare { background-color: rgb(230, 86, 120); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-github { background-color: rgb(36, 41, 45); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-goodreads { background-color: rgb(236, 234, 221); color: rgb(56, 33, 16); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-google { background-color: rgb(234, 68, 52); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-gravatar { background-color: rgb(29, 79, 196); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-instagram { background-color: rgb(240, 0, 117); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-lastfm { background-color: rgb(226, 27, 36); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-linkedin { background-color: rgb(13, 102, 194); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-mastodon { background-color: rgb(50, 136, 212); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-medium { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-meetup { background-color: rgb(246, 64, 95); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-patreon { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-pinterest { background-color: rgb(230, 1, 34); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-pocket { background-color: rgb(239, 65, 85); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-reddit { background-color: rgb(255, 69, 0); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-skype { background-color: rgb(4, 120, 215); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-snapchat { stroke: rgb(0, 0, 0); background-color: rgb(254, 252, 0); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-soundcloud { background-color: rgb(255, 86, 0); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-spotify { background-color: rgb(27, 215, 96); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-telegram { background-color: rgb(42, 171, 238); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-threads { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-tiktok { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-tumblr { background-color: rgb(1, 24, 53); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-twitch { background-color: rgb(100, 64, 164); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-twitter { background-color: rgb(29, 161, 242); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-vimeo { background-color: rgb(30, 183, 234); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-vk { background-color: rgb(70, 128, 194); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-wordpress { background-color: rgb(52, 153, 205); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-whatsapp { background-color: rgb(37, 211, 102); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-x { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-yelp { background-color: rgb(211, 36, 34); color: rgb(255, 255, 255); }

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-youtube { background-color: red; color: rgb(255, 255, 255); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link { background: none; }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link svg { height: 1.25em; width: 1.25em; }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-amazon { color: rgb(255, 153, 0); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-bandcamp { color: rgb(30, 160, 195); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-behance { color: rgb(7, 87, 254); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-bluesky { color: rgb(10, 122, 255); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-codepen { color: rgb(30, 31, 38); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-deviantart { color: rgb(2, 228, 155); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-discord { color: rgb(88, 101, 242); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-dribbble { color: rgb(233, 76, 137); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-dropbox { color: rgb(66, 128, 255); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-etsy { color: rgb(244, 88, 0); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-facebook { color: rgb(8, 102, 255); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-fivehundredpx { color: rgb(0, 0, 0); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-flickr { color: rgb(4, 97, 221); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-foursquare { color: rgb(230, 86, 120); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-github { color: rgb(36, 41, 45); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-goodreads { color: rgb(56, 33, 16); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-google { color: rgb(234, 68, 52); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-gravatar { color: rgb(29, 79, 196); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-instagram { color: rgb(240, 0, 117); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-lastfm { color: rgb(226, 27, 36); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-linkedin { color: rgb(13, 102, 194); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-mastodon { color: rgb(50, 136, 212); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-medium { color: rgb(0, 0, 0); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-meetup { color: rgb(246, 64, 95); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-patreon { color: rgb(0, 0, 0); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-pinterest { color: rgb(230, 1, 34); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-pocket { color: rgb(239, 65, 85); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-reddit { color: rgb(255, 69, 0); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-skype { color: rgb(4, 120, 215); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-snapchat { stroke: rgb(0, 0, 0); color: rgb(255, 255, 255); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-soundcloud { color: rgb(255, 86, 0); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-spotify { color: rgb(27, 215, 96); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-telegram { color: rgb(42, 171, 238); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-threads { color: rgb(0, 0, 0); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-tiktok { color: rgb(0, 0, 0); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-tumblr { color: rgb(1, 24, 53); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-twitch { color: rgb(100, 64, 164); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-twitter { color: rgb(29, 161, 242); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-vimeo { color: rgb(30, 183, 234); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-vk { color: rgb(70, 128, 194); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-whatsapp { color: rgb(37, 211, 102); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-wordpress { color: rgb(52, 153, 205); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-x { color: rgb(0, 0, 0); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-yelp { color: rgb(211, 36, 34); }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-youtube { color: red; }

.wp-block-social-links.is-style-pill-shape .wp-social-link { width: auto; }

:root :where(.wp-block-social-links .wp-social-link a) { padding: 0.25em; }

:root :where(.wp-block-social-links.is-style-logos-only .wp-social-link a) { padding: 0px; }

:root :where(.wp-block-social-links.is-style-pill-shape .wp-social-link a) { padding-left: 0.666667em; padding-right: 0.666667em; }

.wp-block-social-links:not(.has-icon-color):not(.has-icon-background-color) .wp-social-link-snapchat .wp-block-social-link-label { color: rgb(0, 0, 0); }
@charset "utf-8";

:root { --wp--preset--aspect-ratio--square: 1; --wp--preset--aspect-ratio--4-3: 4/3; --wp--preset--aspect-ratio--3-4: 3/4; --wp--preset--aspect-ratio--3-2: 3/2; --wp--preset--aspect-ratio--2-3: 2/3; --wp--preset--aspect-ratio--16-9: 16/9; --wp--preset--aspect-ratio--9-16: 9/16; --wp--preset--color--black: #000000; --wp--preset--color--cyan-bluish-gray: #abb8c3; --wp--preset--color--white: #ffffff; --wp--preset--color--pale-pink: #f78da7; --wp--preset--color--vivid-red: #cf2e2e; --wp--preset--color--luminous-vivid-orange: #ff6900; --wp--preset--color--luminous-vivid-amber: #fcb900; --wp--preset--color--light-green-cyan: #7bdcb5; --wp--preset--color--vivid-green-cyan: #00d084; --wp--preset--color--pale-cyan-blue: #8ed1fc; --wp--preset--color--vivid-cyan-blue: #0693e3; --wp--preset--color--vivid-purple: #9b51e0; --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgb(6,147,227) 0%,rgb(155,81,224) 100%); --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%); --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgb(252,185,0) 0%,rgb(255,105,0) 100%); --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgb(255,105,0) 0%,rgb(207,46,46) 100%); --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%); --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%); --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%); --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%); --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%); --wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%); --wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%); --wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%); --wp--preset--font-size--small: 13px; --wp--preset--font-size--medium: 20px; --wp--preset--font-size--large: 36px; --wp--preset--font-size--x-large: 42px; --wp--preset--spacing--20: 0.44rem; --wp--preset--spacing--30: 0.67rem; --wp--preset--spacing--40: 1rem; --wp--preset--spacing--50: 1.5rem; --wp--preset--spacing--60: 2.25rem; --wp--preset--spacing--70: 3.38rem; --wp--preset--spacing--80: 5.06rem; --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2); --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4); --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2); --wp--preset--shadow--outlined: 6px 6px 0px -3px rgb(255, 255, 255), 6px 6px rgb(0, 0, 0); --wp--preset--shadow--crisp: 6px 6px 0px rgb(0, 0, 0); }

.wp-block-button { --wp--preset--dimension--25: 25%; --wp--preset--dimension--50: 50%; --wp--preset--dimension--75: 75%; --wp--preset--dimension--100: 100%; }

:where(body) { margin: 0px; }

:where(.is-layout-flex) { gap: 0.5em; }

:where(.is-layout-grid) { gap: 0.5em; }

body .is-layout-flex { display: flex; }

.is-layout-flex { flex-wrap: wrap; align-items: center; }

.is-layout-flex > :is(*, div) { margin: 0px; }

body .is-layout-grid { display: grid; }

.is-layout-grid > :is(*, div) { margin: 0px; }

body { padding: 0px; }

:root :where(.wp-element-button, .wp-block-button__link) { background-color: rgb(50, 55, 60); border-width: 0px; color: rgb(255, 255, 255); font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; letter-spacing: inherit; line-height: inherit; padding: calc(0.667em + 2px) calc(1.333em + 2px); text-decoration: none; text-transform: inherit; }

.has-black-color { color: var(--wp--preset--color--black) !important; }

.has-cyan-bluish-gray-color { color: var(--wp--preset--color--cyan-bluish-gray) !important; }

.has-white-color { color: var(--wp--preset--color--white) !important; }

.has-pale-pink-color { color: var(--wp--preset--color--pale-pink) !important; }

.has-vivid-red-color { color: var(--wp--preset--color--vivid-red) !important; }

.has-luminous-vivid-orange-color { color: var(--wp--preset--color--luminous-vivid-orange) !important; }

.has-luminous-vivid-amber-color { color: var(--wp--preset--color--luminous-vivid-amber) !important; }

.has-light-green-cyan-color { color: var(--wp--preset--color--light-green-cyan) !important; }

.has-vivid-green-cyan-color { color: var(--wp--preset--color--vivid-green-cyan) !important; }

.has-pale-cyan-blue-color { color: var(--wp--preset--color--pale-cyan-blue) !important; }

.has-vivid-cyan-blue-color { color: var(--wp--preset--color--vivid-cyan-blue) !important; }

.has-vivid-purple-color { color: var(--wp--preset--color--vivid-purple) !important; }

.has-black-background-color { background-color: var(--wp--preset--color--black) !important; }

.has-cyan-bluish-gray-background-color { background-color: var(--wp--preset--color--cyan-bluish-gray) !important; }

.has-white-background-color { background-color: var(--wp--preset--color--white) !important; }

.has-pale-pink-background-color { background-color: var(--wp--preset--color--pale-pink) !important; }

.has-vivid-red-background-color { background-color: var(--wp--preset--color--vivid-red) !important; }

.has-luminous-vivid-orange-background-color { background-color: var(--wp--preset--color--luminous-vivid-orange) !important; }

.has-luminous-vivid-amber-background-color { background-color: var(--wp--preset--color--luminous-vivid-amber) !important; }

.has-light-green-cyan-background-color { background-color: var(--wp--preset--color--light-green-cyan) !important; }

.has-vivid-green-cyan-background-color { background-color: var(--wp--preset--color--vivid-green-cyan) !important; }

.has-pale-cyan-blue-background-color { background-color: var(--wp--preset--color--pale-cyan-blue) !important; }

.has-vivid-cyan-blue-background-color { background-color: var(--wp--preset--color--vivid-cyan-blue) !important; }

.has-vivid-purple-background-color { background-color: var(--wp--preset--color--vivid-purple) !important; }

.has-black-border-color { border-color: var(--wp--preset--color--black) !important; }

.has-cyan-bluish-gray-border-color { border-color: var(--wp--preset--color--cyan-bluish-gray) !important; }

.has-white-border-color { border-color: var(--wp--preset--color--white) !important; }

.has-pale-pink-border-color { border-color: var(--wp--preset--color--pale-pink) !important; }

.has-vivid-red-border-color { border-color: var(--wp--preset--color--vivid-red) !important; }

.has-luminous-vivid-orange-border-color { border-color: var(--wp--preset--color--luminous-vivid-orange) !important; }

.has-luminous-vivid-amber-border-color { border-color: var(--wp--preset--color--luminous-vivid-amber) !important; }

.has-light-green-cyan-border-color { border-color: var(--wp--preset--color--light-green-cyan) !important; }

.has-vivid-green-cyan-border-color { border-color: var(--wp--preset--color--vivid-green-cyan) !important; }

.has-pale-cyan-blue-border-color { border-color: var(--wp--preset--color--pale-cyan-blue) !important; }

.has-vivid-cyan-blue-border-color { border-color: var(--wp--preset--color--vivid-cyan-blue) !important; }

.has-vivid-purple-border-color { border-color: var(--wp--preset--color--vivid-purple) !important; }

.has-vivid-cyan-blue-to-vivid-purple-gradient-background { background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important; }

.has-light-green-cyan-to-vivid-green-cyan-gradient-background { background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important; }

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background { background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important; }

.has-luminous-vivid-orange-to-vivid-red-gradient-background { background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important; }

.has-very-light-gray-to-cyan-bluish-gray-gradient-background { background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important; }

.has-cool-to-warm-spectrum-gradient-background { background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important; }

.has-blush-light-purple-gradient-background { background: var(--wp--preset--gradient--blush-light-purple) !important; }

.has-blush-bordeaux-gradient-background { background: var(--wp--preset--gradient--blush-bordeaux) !important; }

.has-luminous-dusk-gradient-background { background: var(--wp--preset--gradient--luminous-dusk) !important; }

.has-pale-ocean-gradient-background { background: var(--wp--preset--gradient--pale-ocean) !important; }

.has-electric-grass-gradient-background { background: var(--wp--preset--gradient--electric-grass) !important; }

.has-midnight-gradient-background { background: var(--wp--preset--gradient--midnight) !important; }

.has-small-font-size { font-size: var(--wp--preset--font-size--small) !important; }

.has-medium-font-size { font-size: var(--wp--preset--font-size--medium) !important; }

.has-large-font-size { font-size: var(--wp--preset--font-size--large) !important; }

.has-x-large-font-size { font-size: var(--wp--preset--font-size--x-large) !important; }
@charset "utf-8";

#rs-demo-id { }